html {
  font-size: 87.5%;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--Color-BG);
  color: var(--Color-Text-1);
  position: relative;
  transition: 1s ease-in-out;
}

body::before {
  content: "";
  width: 100%;
  height: 18rem;
  background-color: var(--Color-Top-BG-Pattern);
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 0 0 1.5rem 1.5rem;

  @media (min-width: 768px) {
    height: 22rem;
  }
}

h1,
h3 {
  color: var(--Color-Text-2);
}
h2 {
  color: var(--Color-Text-1);
}
